*{
    margin: 0;
    box-sizing: border-box;
}
body {
  background-color: #222;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.game-container {
  text-align: center;
  display: grid;
  width: 310px;
  gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-title {
  color: white;
}
.cell {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  background-color: #2d2d2d;
}
