* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f0617;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.game-container {
  text-align: center;
  display: grid;
  width: 310px;
  gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.cell {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #263238;
}
.cell:not(.cell.btn-X, .cell.btn-O):hover {
  background-color: #1d2d2d;
}
.btn-X-icon {
  stroke: #fc4747;
}

.btn-O-icon {
  fill: dodgerblue;
}
.main-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-title {
  color: #ffeb3b;
  font-size: bold;
}

.btn-restart:hover {
  transform: scale(1.05);
}
.credits {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: 1.2rem;
  padding: 15px;
}

.shaking:hover {
  animation: shake 0.4s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}
